package page

import "github.com/jwafle/otail/internal/view/layout"

templ Logs() {
	@layout.Base() {
		<div hx-ext="sse" sse-connect="/logs/sse">
			<div sse-swap="logs" hx-swap="afterbegin">
				<!-- New entries appear here -->
			</div>
		</div>
	}
}
