
package page

import "github.com/jwafle/otail/internal/view/layout"

templ Traces() {
	@layout.Base() {
		<div hx-ext="sse" sse-connect="/traces/sse">
			<div sse-swap="traces" hx-swap="afterbegin">
				<!-- New entries appear here -->
			</div>
		</div>
	}
}
